/**
  TuxLab Splash Page Stylesheet
**/
.abel, h2, h3, h4, section.step .step_title ul li:first-child, section.step ul.step_details li span {
  font-family: 'Abel', sans-serif; }

.opensans, html, body, h1, section.step .step_title label, section.step .step_title ul li:last-child, section#install .try_text {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0; }

html, body {
  height: 100%;
  font-size: 12pt;
  background-color: #efefef; }

.body_wrap {
  min-height: 100%;
  margin-bottom: -40px; }

.body_wrap:after {
  content: "";
  display: block; }

footer, .body_wrap:after {
  height: 40px; }

footer {
  background-color: #333; }

.page_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

.color_wrap {
  width: 100%;
  background-color: #3d85c6; }

h1 {
  font-size: 60pt;
  font-weight: 700; }

h2 {
  font-size: 40pt; }

h3 {
  font-size: 32px;
  text-transform: uppercase; }

h4 {
  font-size: 20pt; }

/**
  SECTION: SPLASH
**/
section#splash {
  width: 100%;
  background-color: #3d85c6;
  margin-bottom: 50px; }
  section#splash .logo {
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    padding-top: 100px; }
    section#splash .logo .head {
      float: left;
      height: 150px;
      width: 150px; }
    section#splash .logo .text {
      float: left;
      margin-top: 30px;
      margin-left: 15px;
      text-align: center; }
      section#splash .logo .text h1, section#splash .logo .text h4 {
        color: #fff !important; }
      @media (max-width: 768px) {
        section#splash .logo .text {
          width: 100%; } }
  section#splash .sponsors {
    position: relative; }
    section#splash .sponsors .logos {
      position: absolute;
      margin: 0 auto;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 460px;
      height: 100px;
      text-align: center; }
      section#splash .sponsors .logos .redhat {
        float: left;
        max-height: 50px; }
      section#splash .sponsors .logos label {
        display: block;
        float: left;
        height: 50px;
        margin: 0 10px;
        border-left: 1px solid #ccc; }
      section#splash .sponsors .logos .scs {
        float: left;
        max-height: 50px; }
    section#splash .sponsors .snow_hill {
      width: 100%;
      height: 60px;
      min-height: 150px;
      fill: #efefef; }

/**
  SECTION: VIDEO
**/
section#video {
  width: 100%; }
  section#video center {
    margin-bottom: 50px; }
    section#video center #embed {
      width: 100%;
      max-width: 864px;
      min-height: 486px; }

/**
  SECTION: STEPS
**/
#steps_descrip {
  margin-bottom: 50px; }
  #steps_descrip h2 {
    line-height: 60px;
    margin-bottom: 0px; }
  #steps_descrip h4 {
    margin-top: 0px; }

section.step {
  display: block;
  min-height: 300px;
  padding: 30px 0px; }
  section.step .step_title {
    display: block;
    height: 80px;
    margin-bottom: 10px; }
    section.step .step_title label {
      float: left;
      display: inline-block;
      height: 80px;
      width: 80px;
      background-color: #3d85c6;
      border-radius: 50%;
      color: #fff;
      line-height: 80px;
      font-size: 60px;
      text-align: center; }
    section.step .step_title ul {
      float: left; }
      section.step .step_title ul li {
        margin: 0;
        list-style-type: none; }
        section.step .step_title ul li:first-child {
          font-size: 36px;
          line-height: 30px;
          text-transform: uppercase; }
        section.step .step_title ul li:last-child {
          font-size: 18px;
          line-height: 22px;
          margin-left: 5px; }
  section.step ul.step_details li {
    min-height: 70px;
    margin: 10px 0px;
    list-style-type: none; }
    section.step ul.step_details li span {
      vertical-align: middle;
      font-size: 30px;
      text-transform: uppercase; }
      section.step ul.step_details li span label {
        display: inline-block;
        height: 60px;
        width: 60px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #3d85c6;
        text-align: center; }
        section.step ul.step_details li span label i {
          font-size: 40px;
          line-height: 60px;
          text-align: center;
          color: #fff; }
    section.step ul.step_details li p {
      margin-left: 80px;
      margin-top: -10px; }

.color_wrap section.step {
  color: #fff; }
  .color_wrap section.step .step_title label {
    color: #3d85c6;
    background-color: #fff; }

section#one {
  padding-bottom: 200px; }
  section#one .file {
    height: 400px; }
    section#one .file h4 {
      color: #fff; }

section#three .browser img {
  min-height: 400px; }

/**
  SECTION: INSTALL
**/
section#install {
  padding: 50px 0;
  text-align: center; }
  section#install .try_text {
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    color: #fff; }
  section#install .try_logos {
    margin: 20px 0; }
    section#install .try_logos img {
      height: 60px; }
  section#install .try_button {
    margin: 30px auto;
    background-color: #3d85c6; }

/**
  SECTION: PRESS
**/
section#press {
  min-height: 400px; }
  section#press > div {
    padding-top: 30px; }
  section#press .uk-comment {
    max-width: 800px;
    margin: 0 auto; }
    section#press .uk-comment .uk-comment-avatar {
      max-height: 140px;
      max-width: 140px; }
    section#press .uk-comment h4.uk-comment-title {
      font-size: 30px;
      line-height: 32px; }
    section#press .uk-comment .uk-comment-meta {
      font-size: 16px; }
    section#press .uk-comment .uk-button {
      background-color: #3d85c6; }

/**
  SECTION: ABOUT
**/
section#about {
  min-height: 400px; }
  section#about > div {
    padding-top: 30px; }
  section#about .uk-button-primary {
    background-color: #3d85c6 !important; }

/*# sourceMappingURL=tuxlab.css.map */
