/**
  SECTION: INSTALL
**/
section#install{
  padding:50px 0;
  text-align:center;

  .try_text{
    @extend .opensans;
    font-size:40px;
    line-height:60px;
    font-weight:300;
    color:#fff;
  }

  .try_logos{
    margin:20px 0;
    img{
      height:80px;
    }
  }

  .try_button{
    margin:30px 0px;

    background-color:#3d85c6;
  }
}
