/**
  SECTION: PRESS
**/
section#press{
  min-height:400px;

  & > div{
    padding-top:30px;

  }

  .uk-comment{
    max-width:800px;
    margin:0 auto;
    .uk-comment-avatar{
        max-height:140px;
        max-width:140px;
    }
    h4.uk-comment-title{
      font-size:30px;
      line-height:32px;
    }
    .uk-comment-meta{
      font-size:16px;
    }
    .uk-button{
      background-color:#3d85c6;
    }
  }
}
