/**
  TuxLab Splash Page Stylesheet
**/

// FONTS
.abel{
  font-family: 'Abel', sans-serif;
}
.opensans{
  font-family: 'Open Sans', sans-serif;
}

// BODY
*{
  margin:0;
}
html, body{
    height:100%;

    @extend .opensans;
    font-size:12pt;

    background-color:#efefef;
}

// FOOTER
.body_wrap{
  min-height:100%;
  margin-bottom:-50px;
}

.body_wrap:after{
  content: "";
  display: block;
}

footer, .body_wrap:after{
  height:50px;
}

footer{
}

// MAX PAGE WIDTH
.page_wrap{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.color_wrap{
  width:100%;
  background-color:#3d85c6;
}

// HEADERS
h1{
  @extend .opensans;
  font-size:60pt;
  font-weight:700;
}

h2{
  @extend .abel;
  font-size:40pt;
}

h4{
  @extend .abel;
  font-size:20pt;
}

// SECTION: LOGO SPLASH
@import 'splash';

// SECTION: EXPLAINER
@import 'video';

// SECTION: STEPS
@import 'steps';

// SECTION: INSTALL
@import 'install';

// SECTION: ABOUT
@import 'about';
