/**
  TuxLab Splash Page Stylesheet
**/

// FONTS
.abel{
  font-family: 'Abel', sans-serif;
}
.opensans{
  font-family: 'Open Sans', sans-serif;
}

// BODY
html, body{
    margin: 0 auto;
    padding:0;

    @extend .opensans;
    font-size:12pt;

    background-color:#efefef;
}

.page_wrap{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

// HEADERS
h1{
  @extend .opensans;
  font-size:60pt;
  font-weight:700;
}

h2{
  @extend .abel;
  font-size:40pt;
}

h3{
  @extend .opensans;
  font-size:20pt;
  font-weight:700;
}

h4{
  @extend .abel;
  font-size:20pt;
}

// SECTION: LOGO SPLASH
@import 'splash';

// SECTION: STEPS
@import 'steps';
